$ff-main-regular: 'Open Sans', "Arial", sans-serif;

$colorTransparent: transparent;
$colorBackgroundWhite: #FFFFFF;
$colorBackgroundLight: #F1F4F9;
$colorBackgroundBar: #DEE6F5;
$colorBackgroundDark: #091336;
$colorFontWhite: white;
$colorFontLight: #899CB1;
$colorFontSecondary: #5E7793;
$colorFontPlaceholder: white;
$colorFontBright: #002CFB;
$colorFontDark: #122945;
$colorSuccess: #00A775;
$colorMiddle: #FFD500;
$colorBad: #EA1A4F;

:export {
    colorTransparent: $colorTransparent;
    colorBackgroundLight: $colorBackgroundLight;
    colorBackgroundDark: $colorBackgroundDark;
    colorFontWhite: $colorFontWhite;
    colorFontPlaceholder: $colorFontPlaceholder;
    colorFontDark: $colorFontDark;
    ffMainRegular: $ff-main-regular;
    colorSuccess: $colorSuccess;
    colorMiddle: $colorMiddle;
    colorBad: $colorBad;
    colorBackgroundBar: $colorBackgroundBar;
    colorFontBright: $colorFontBright;
    colorFontSecondary: $colorFontSecondary;
}