@import '/src/sass/variables.module.scss';

.select_item {
    min-width: 164px;
    min-height: 40px;
    cursor: pointer;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    font-size: 15px;
    color: $colorFontLight;

    &:hover {
        background-color: $colorBackgroundHover;
        color: $colorFontDark;
    }
}