@import '/src/sass/variables.module.scss';
@import '/src/sass/mixin.scss';

.reset-filters_container {
    margin-left: 5px;
}

.reset-filters_close-button {
    width: 9px;
    height: 9px;
    cursor: pointer;

    @include tag-button_hide;
}

.reset-filters_close-icon {

}