@import '/src/sass/variables.module.scss';

body {
  margin: 0;
  font-family: $ff-main-regular;
  list-style: none;
  overflow: inherit;
  background-color: $colorBackgroundLight;
}

.App {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 240px auto;
}